html {
    font-family: Arial;
}

header {
    padding-left: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001F6F;
    height: 70px;
    gap: 10%;
    padding-right: 10%;
}

body {
    margin: 0%;
}

.nav1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 20%;
    background-color: white;
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 20%;
    background-color: white;
}

.nav3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 7%;
    background-color: white;
}

nav ul {
    display: flex;
    height: 100%;
    padding: 0px;
    width: 100%;
    margin: 0px;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    height: 100%;
    font-size: 16px;
    width: 100%;
}


.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 20%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 12px;
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;

}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 850px;
    width: 100%;
    gap: 10%;
    background-image: url('pexels-tahir-osman-16107388.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 75px;
}

.campo_pra_preencher {
    background-color: #D9D9D9;
    border: 1px black solid;
    padding: 5px;
    border-radius: 5px;
}

.texto_branco {
    color: white;
}

.container3 {
    display: flex;
    height: 500px;
    width: 50%;
    font-size: 12px;
}

